HtdMc66Flow.json
[{"id":"2af82e97.00cc42","type":"tab","label":"HTD","disabled":false,"info":""},{"id":"5f46ac21.54dce4","type":"inject","z":"2af82e97.00cc42","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1500,"wires":[["1c910917.a03b87"]]},{"id":"1c910917.a03b87","type":"function","z":"2af82e97.00cc42","name":"","func":"flow.set(\"partyVolumeStart\", false);\nflow.set(\"partyVolumeZone\", -1);\nflow.set(\"partyVolume\", -1);\n\nvar  b = Buffer.from('\\X02\\X00\\X00\\X05\\X00\\X07');\nmsg.payload = b;\nmsg.headers  = {};\nmsg.headers[\"Authorization\"] = \"Basic \" + new Buffer(\"admin:lev3s\").toString('base64');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1500,"wires":[["202b24c8.d9150c"]]},{"id":"202b24c8.d9150c","type":"tcp request","z":"2af82e97.00cc42","server":"192.168.10.224","port":"10006","out":"sit","splitc":" ","name":"","x":570,"y":1500,"wires":[["11cdf05b.ddb9c"]]},{"id":"11cdf05b.ddb9c","type":"function","z":"2af82e97.00cc42","name":"HTD Status","func":"/*\n0: 0x2      <= start marker\n1: 0x0      <= start marker\n2: 0x1      <= zone id\n3: 0x5      <= start marker\n4: 0x80     <= power/mute/balance:  0=off, 80=on, c0=mute, a0=balance in [5]\n5: 0xff     <= balance: 82=left-3 84=left-2 86=left-1  88=center 90=right+1 a0=right+2 c0=right+3\n6: 0xff     <= ??\n7: 0x1      <= ??\n8: 0x1      <= source\n9: 0xe1     <= volume 1 = c4, volume 59 = ff, volume 60 = 0\n10: 0x8     <= ??\n11: 0xc     <= ??\n12: 0x0     <= ??\n13: 0x7d    <= checksum\n\nnotes:  1 - balance is not reported until it is changed.  Seems buggy,  and even the  mobile app is wonky with this.\n        2 - volume changes are intentionally slow\n*/\n\nvar token;\nvar balance;\n\nvar msgarray = [null, null, null, null, null, null];\nvar status = \"\";\n\nconst b1 = new Uint8Array(msg.payload);\nfor (x = 0; x < b1.length; x++) {\n    if (b1[x] == 2) {\n        if (b1[x + 1] == 0) {\n            var zoneindex = b1[x + 2] - 1;\n            if (b1[x + 3] == 5) {\n                status +=\"Zone \"+ b1[x + 2];\n                msgarray[zoneindex] = {};\n                msgarray[zoneindex].payload = {};\n                msgarray[zoneindex].payload.zone = {};\n                msgarray[zoneindex].payload.zone.balance = null;\n\n                //\n                // Get the power/mute\n                //\n                token = b1[x + 4];\n                switch (token) {\n                    case 128:\n                        msgarray[zoneindex].payload.zone.output = 1;\n                        msgarray[zoneindex].payload.zone.outputStr = \"ON\";\n                        status += \" PWR=ON\";\n                        msgarray[zoneindex].payload.zone.mute = 0;\n                        status += \" MUTE=OFF\";\n                        break;\n                    case 0:\n                        msgarray[zoneindex].payload.zone.output = 0;\n                        msgarray[zoneindex].payload.zone.outputStr = \"OFF\";\n                        status += \" PWR=OFF\";\n                        msgarray[zoneindex].payload.zone.mute = 0;\n                        status += \" MUTE=OFF\";\n                        break;\n                    case 192:\n                        msgarray[zoneindex].payload.zone.mute = 1;\n                        status += \" MUTE=ON\";\n                        break;\n                    case 160:\n                        //\n                        // Get the balance\n                        //\n                        balance = b1[x + 5];\n                        switch (balance) {\n                            case 0x81:\n                                msgarray[zoneindex].payload.zone.balance = -3;\n                                break;\n                            case 0x82:\n                                msgarray[zoneindex].payload.zone.balance = -2;\n                                break;\n                            case 0x84:\n                                msgarray[zoneindex].payload.zone.balance = -1;\n                                break;\n                            case 0x88:\n                                msgarray[zoneindex].payload.zone.balance = 0;\n                                break;\n                            case 0x90:\n                                msgarray[zoneindex].payload.zone.balance = 1;\n                                break;\n                            case 0xa0:\n                                msgarray[zoneindex].payload.zone.balance = 2;\n                                break;\n                            case 0xc0:\n                                msgarray[zoneindex].payload.zone.balance = 3;\n                                break;\n                        }\n                        status += \" BAL=\" + msgarray[zoneindex].payload.zone.balance;\n                        break;\n                }\n                \n                //\n                // Get the source\n                //\n                token = b1[x + 8];\n                switch (token) {\n                    case 0:\n                        msgarray[zoneindex].payload.zone.src = \"1\";\n                        break;\n                    case 1:\n                        msgarray[zoneindex].payload.zone.src = \"2\";\n                        break;\n                    case 2:\n                        msgarray[zoneindex].payload.zone.src = \"3\";\n                        break;\n                    case 3:\n                        msgarray[zoneindex].payload.zone.src = \"4\";\n                        break;\n                    case 4:\n                        msgarray[zoneindex].payload.zone.src = \"5\";\n                        break;\n                    case 5:\n                        msgarray[zoneindex].payload.zone.src = \"6\";\n                        break;\n                }\n                status += \" SRC=\" + msgarray[zoneindex].payload.zone.src;\n                //\n                // Get the volume\n                //\n                token = b1[x + 9] - 196;\n                if (token < 0) {\n                    token = 60;\n                }\n                msgarray[zoneindex].payload.zone.volume = token;\n                status += \" VOL=\"+token;\n                //\n                // clear out duplicates\n                //\n                var newMessage = JSON.stringify(msgarray[zoneindex]);\n                var lastMessage = context.get(\"msg1\");\n                if (lastMessage != null && newMessage === lastMessage) {\n                    msg1 = null;\n                } else {\n                    context.set(\"msg1\", newMessage);\n                }\n                //\n                // status decoration\n                //\n                node.status({fill:\"green\",shape:\"dot\",text:status});\n            }\n        }\n    }\n}\n\nreturn msgarray;\n","outputs":6,"noerr":0,"initialize":"","finalize":"","x":830,"y":1500,"wires":[["9e5b3e5f.555ff"],["3a71fb91.e99644"],["8a190cb.a5b58f"],["73848fdc.b4e22"],["bb7ee857.330f78"],["41d36e5c.104c3"]]},{"id":"9e5b3e5f.555ff","type":"function","z":"2af82e97.00cc42","name":"HTD Demux Zone  1  Office","func":"var zone = msg.payload.zone;\nvar status=\"\";\nvar msg3 = null;\n\nmsg1 = {};\nmsg1.payload = {};\n\nmsg2 = {};\nmsg2.payload = {};\n\nmsg4 = {};\nmsg4.payload = {};\n\nmsg5 = {};\nmsg5.payload = {};\n\nmsg1.topic=\"PWR \" + zone.outputStr;\nmsg1.payload=zone.output;\nstatus+=\"PWR=\"+msg1.payload\n\nmsg2.topic=\"src\";\nmsg2.payload=zone.src;\nstatus+=\" SRC=\"+msg2.payload\n\nif (zone.balance != null) {\n    msg3 = {};\n    msg3.payload = {};\n    msg3.topic=\"balance\";\n    msg3.payload=zone.balance;\n    status+=\" BAL=\"+msg3.payload\n}\n\nmsg4.topic=\"volume\";\nmsg4.payload=zone.volume;\nstatus+=\" VOL=\"+msg4.payload\n\nmsg5.topic=\"mute\";\nmsg5.payload=zone.mute;\nstatus+=\" MUTE=\"+msg5.payload\n\nnode.status({fill:\"green\",shape:\"dot\",text:status});\n\nvar partyVolumeStart = flow.get(\"partyVolumeStart\");\nvar partyVolumeZone = flow.get(\"partyVolumeZone\");\nvar partyVolume = flow.get(\"partyVolume\");\nvar msgParty = {};\n\nif (partyVolumeZone==1) {\n    if (partyVolumeStart) {\n        if (partyVolume != -1) {\n            if (zone.volume < partyVolume) {\n                msgParty.payload = \"zone1-volume-up\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"yellow\",shape:\"dot\",text:\"zone1-volume-up\"});\n            } else if (zone.volume > partyVolume) {\n                msgParty.payload = \"zone1-volume-down\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"yellow\",shape:\"dot\",text:\"zone1-volume-down\"});\n            } else {\n                flow.set(\"partyVolumeZone\", ++partyVolumeZone);\n                msgParty.payload = \"zone2-query\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"green\",shape:\"dot\",text:\"Party volume zone complete\"});\n            }\n            return;\n        }\n    }\n}\n\nreturn [msg1,msg2,msg3,msg4,msg5,null];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":1240,"y":240,"wires":[["7d77c1e.695024"],["6921e08a.70e8"],["ee3b9827.0f12d8"],["f2061428.d8f658"],["cf0dbbc6.a57058"],["8653b9ce.064168"]]},{"id":"7d77c1e.695024","type":"ui_template","z":"2af82e97.00cc42","group":"5f91cf06.70e5c","name":"Power","order":1,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"pwr_office_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"pwr_office_state\", index)\n        };\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"pwr_office\").src = pwrButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        };\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        });\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            scope.send({topic: 'power', payload: x==1?'zone1-pwr-on':'zone1-pwr-off'});\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"pwr_office\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":120,"wires":[["8653b9ce.064168"]]},{"id":"6921e08a.70e8","type":"ui_template","z":"2af82e97.00cc42","group":"5f91cf06.70e5c","name":"Src","order":3,"width":2,"height":1,"format":"  <script>\n\n   (function(scope) {\n        \n       scope.retrieveState = function () {\n           var x = localStorage.getItem(\"office-source\");\n           var radio = document.querySelector('input[name=\"office-source\"][value=\"'+x+'\"]');\n           radio.checked  = true;\n        }\n        \n        scope.saveState = function () {\n           var x = document.querySelector('input[name=\"office-source\"]:checked').value;\n           localStorage.setItem(\"office-source\", x);\n        };\n        \n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$ngAfterViewChecked', function(){\n            scope.retrieveState();\n        });\n\n        \n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n               var x  = msg.payload;\n               var radio = document.querySelector('input[name=\"office-source\"][value=\"'+x+'\"]');\n               radio.checked  = true;\n            }\n            scope.saveState();\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            scope.saveState();\n            var index = document.querySelector('input[name=\"office-source\"]:checked').value;\n            scope.send({topic: 'source', payload: 'zone1-source-'+index});\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\" >\n        <label style=\"padding:2px;\">\n            <input checked id=\"roku\" type=\"radio\" name=\"office-source\" value=\"1\" ng-click=\"doclick()\">\n            <img src=\"/roku.png\" width=\"30\" height=\"30\">\n        </label>\n        <label style=\"padding:2px;\">\n            <input id=\"alexa\" type=\"radio\" name=\"office-source\" value=\"2\" ng-click=\"doclick()\">\n            <img src=\"/alexa.png\" width=\"30\" height=\"30\">\n        </label>\n  </div>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1730,"y":160,"wires":[["8653b9ce.064168"]]},{"id":"f2061428.d8f658","type":"ui_level","z":"2af82e97.00cc42","group":"5f91cf06.70e5c","order":4,"width":1,"height":4,"name":"Volume","label":"Volume","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"60","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1740,"y":240,"wires":[]},{"id":"99e6e952.90ad18","type":"ui_template","z":"2af82e97.00cc42","group":"5f91cf06.70e5c","name":"vol-up","order":6,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_office_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_office\").click();\n            }\n            scope.send({topic: 'volume', payload: 'zone1-volume-up'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"office-vol-up\" src=\"/up.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":400,"wires":[["8653b9ce.064168"]]},{"id":"a20b6a01.f41078","type":"ui_template","z":"2af82e97.00cc42","group":"5f91cf06.70e5c","name":"vol-dn","order":7,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_office_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_office\").click();\n            }\n            scope.send({topic: 'volume', payload: \"zone1-volume-down\"});\n        };\n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"office-vol-down\" src=\"/down.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":440,"wires":[["8653b9ce.064168"]]},{"id":"88f2da2b.7ee218","type":"ui_template","z":"2af82e97.00cc42","group":"5f91cf06.70e5c","name":"balance-left","order":10,"width":1,"height":1,"format":"   <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_office_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_office\").click();\n            }\n            scope.send({topic: 'balance', payload: 'zone1-balance-left'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"office-balance-left\" src=\"/left.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1750,"y":320,"wires":[["8653b9ce.064168"]]},{"id":"a4425b39.8847f8","type":"ui_template","z":"2af82e97.00cc42","group":"5f91cf06.70e5c","name":"balance-right","order":11,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_office_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_office\").click();\n            }\n          scope.send({topic: 'balance', payload: 'zone1-balance-right'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"office-balance-right\" src=\"/right.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1750,"y":360,"wires":[["8653b9ce.064168"]]},{"id":"ee3b9827.0f12d8","type":"ui_artlessgauge","z":"2af82e97.00cc42","group":"5f91cf06.70e5c","order":9,"width":2,"height":1,"name":"Balance","icon":"","label":"Balance","unit":"","layout":"linear","decimals":0,"differential":true,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","sectors":[{"val":-3,"col":"#ff9900","t":"min","dot":2},{"val":3,"col":"#ff9900","t":"max","dot":2}],"lineWidth":"5","bgcolorFromTheme":true,"diffCenter":"0","x":1740,"y":200,"wires":[]},{"id":"cf0dbbc6.a57058","type":"ui_template","z":"2af82e97.00cc42","group":"5f91cf06.70e5c","name":"Mute","order":2,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"mute_office_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"mute_office_state\", index)\n        }\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"mute_office\").src = muteButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        }\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        })\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        })\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            scope.send({topic: 'mute', payload: 'zone1-mute-toggle'});\n        }\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"mute_office\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":280,"wires":[["8653b9ce.064168"]]},{"id":"be99deda.d37f8","type":"link in","z":"2af82e97.00cc42","name":"Send HTD Commnd","links":["a5c7deab.ca3c2","4d10a231.9001ac"],"x":355,"y":1560,"wires":[["202b24c8.d9150c"]]},{"id":"ad328bc9.743ac8","type":"inject","z":"2af82e97.00cc42","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1310,"y":1500,"wires":[["ee3b9827.0f12d8","78d28d02.5ef774","fbc3f4d4.c9ac28","cdf852b9.aae79","d001cb4b.900758","1c6feaa2.958ea5"]]},{"id":"3a71fb91.e99644","type":"function","z":"2af82e97.00cc42","name":"HTD Demux Zone 2 Living Room","func":"var zone = msg.payload.zone;\nvar status=\"\";\nvar msg3 = null;\n\nmsg1 = {};\nmsg1.payload = {};\n\nmsg2 = {};\nmsg2.payload = {};\n\nmsg4 = {};\nmsg4.payload = {};\n\nmsg5 = {};\nmsg5.payload = {};\n\nmsg1.topic=\"PWR \" + zone.outputStr;\nmsg1.payload=zone.output;\nstatus+=\"PWR=\"+msg1.payload\n\nmsg2.topic=\"src\";\nmsg2.payload=zone.src;\nstatus+=\" SRC=\"+msg2.payload\n\nif (zone.balance != null) {\n    msg3 = {};\n    msg3.payload = {};\n    msg3.topic=\"balance\";\n    msg3.payload=zone.balance;\n    status+=\" BAL=\"+msg3.payload\n}\n\nmsg4.topic=\"volume\";\nmsg4.payload=zone.volume;\nstatus+=\" VOL=\"+msg4.payload\n\nmsg5.topic=\"mute\";\nmsg5.payload=zone.mute;\nstatus+=\" MUTE=\"+msg5.payload\n\nnode.status({fill:\"green\",shape:\"dot\",text:status});\n\nvar partyVolumeStart = flow.get(\"partyVolumeStart\");\nvar partyVolumeZone = flow.get(\"partyVolumeZone\");\nvar partyVolume = flow.get(\"partyVolume\");\nvar msgParty = {};\n\nif (partyVolumeZone==2) {\n    if (partyVolumeStart) {\n        if (partyVolume != -1) {\n            if (zone.volume < partyVolume) {\n                msgParty.payload = \"zone2-volume-up\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"yellow\",shape:\"dot\",text:\"zone2-volume-up\"});\n            } else if (zone.volume > partyVolume) {\n                msgParty.payload = \"zone2-volume-down\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"yellow\",shape:\"dot\",text:\"zone2-volume-down\"});\n            } else {\n                flow.set(\"partyVolumeZone\", ++partyVolumeZone);\n                msgParty.payload = \"zone3-query\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"green\",shape:\"dot\",text:\"Party volume zone complete\"});\n            }\n            return;\n        }\n    }\n}\n\nreturn [msg1,msg2,msg3,msg4,msg5,null];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":1220,"y":660,"wires":[["a7911055.5dbe2"],["7863e3cb.8e29bc"],["78d28d02.5ef774"],["51145f1e.7c726"],["d32db85b.86ba28"],["8653b9ce.064168"]]},{"id":"a7911055.5dbe2","type":"ui_template","z":"2af82e97.00cc42","group":"c8fd1b5a.3a4458","name":"Power","order":1,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"pwr_livingroom_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"pwr_livingroom_state\", index)\n        };\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"pwr_livingroom\").src = pwrButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        };\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        });\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            scope.send({topic: 'power', payload: x==1?'zone2-pwr-on':'zone2-pwr-off'});\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"pwr_livingroom\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":560,"wires":[["8653b9ce.064168"]]},{"id":"7863e3cb.8e29bc","type":"ui_template","z":"2af82e97.00cc42","group":"c8fd1b5a.3a4458","name":"Src","order":3,"width":2,"height":1,"format":"  <script>\n\n   (function(scope) {\n        \n       scope.retrieveState = function () {\n           var x = localStorage.getItem(\"livingroom-source\");\n           var radio = document.querySelector('input[name=\"livingroom-source\"][value=\"'+x+'\"]');\n           radio.checked  = true;\n        }\n        \n        scope.saveState = function () {\n           var x = document.querySelector('input[name=\"livingroom-source\"]:checked').value;\n           localStorage.setItem(\"livingroom-source\", x);\n        };\n        \n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$ngAfterViewChecked', function(){\n            scope.retrieveState();\n        });\n\n        \n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n               var x  = msg.payload;\n               var radio = document.querySelector('input[name=\"livingroom-source\"][value=\"'+x+'\"]');\n               radio.checked  = true;\n            }\n            scope.saveState();\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            scope.saveState();\n            var index = document.querySelector('input[name=\"livingroom-source\"]:checked').value;\n            scope.send({topic: 'source', payload: 'zone2-source-'+index});\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\" >\n        <label style=\"padding:2px;\">\n            <input checked id=\"roku\" type=\"radio\" name=\"livingroom-source\" value=\"1\" ng-click=\"doclick()\">\n            <img src=\"/roku.png\" width=\"30\" height=\"30\">\n        </label>\n        <label style=\"padding:2px;\">\n            <input id=\"alexa\" type=\"radio\" name=\"livingroom-source\" value=\"2\" ng-click=\"doclick()\">\n            <img src=\"/alexa.png\" width=\"30\" height=\"30\">\n        </label>\n  </div>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1730,"y":600,"wires":[["8653b9ce.064168"]]},{"id":"51145f1e.7c726","type":"ui_level","z":"2af82e97.00cc42","group":"c8fd1b5a.3a4458","order":4,"width":1,"height":4,"name":"Volume","label":"Volume","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"60","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1740,"y":680,"wires":[]},{"id":"1646b87f.4bd948","type":"ui_template","z":"2af82e97.00cc42","group":"c8fd1b5a.3a4458","name":"vol-up","order":6,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_livingroom_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_livingroom\").click();\n            }\n            scope.send({topic: 'volume', payload: 'zone2-volume-up'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"livingroom-vol-up\" src=\"/up.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":840,"wires":[["8653b9ce.064168"]]},{"id":"fd477374.2e28","type":"ui_template","z":"2af82e97.00cc42","group":"c8fd1b5a.3a4458","name":"vol-dn","order":7,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_livingroom_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_livingroom\").click();\n            }\n            scope.send({topic: 'volume', payload: \"zone2-volume-down\"});\n        };\n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"livingroom-vol-down\" src=\"/down.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":880,"wires":[["8653b9ce.064168"]]},{"id":"e07e5a17.1f4ae8","type":"ui_template","z":"2af82e97.00cc42","group":"c8fd1b5a.3a4458","name":"balance-left","order":10,"width":1,"height":1,"format":"   <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_livingroom_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_livingroom\").click();\n            }\n            scope.send({topic: 'balance', payload: 'zone2-balance-left'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"livingroom-balance-left\" src=\"/left.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1750,"y":760,"wires":[["8653b9ce.064168"]]},{"id":"18474e0b.e48c42","type":"ui_template","z":"2af82e97.00cc42","group":"c8fd1b5a.3a4458","name":"balance-right","order":11,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_livingroom_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_livingroom\").click();\n            }\n          scope.send({topic: 'balance', payload: 'zone2-balance-right'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"livingroom-balance-right\" src=\"/right.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1750,"y":800,"wires":[["8653b9ce.064168"]]},{"id":"78d28d02.5ef774","type":"ui_artlessgauge","z":"2af82e97.00cc42","group":"c8fd1b5a.3a4458","order":9,"width":2,"height":1,"name":"Balance","icon":"","label":"Balance","unit":"","layout":"linear","decimals":0,"differential":true,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","sectors":[{"val":-3,"col":"#ff9900","t":"min","dot":2},{"val":3,"col":"#ff9900","t":"max","dot":2}],"lineWidth":"5","bgcolorFromTheme":true,"diffCenter":"0","x":1740,"y":640,"wires":[]},{"id":"8653b9ce.064168","type":"function","z":"2af82e97.00cc42","name":"HTD Zone Commands","func":"/*\nPayload should look like \"zone1-pwr-on\"\n*/\n\nvar command = msg.payload;\nvar table = flow.get(\"commandMap\");\n\nif (command in table) {\n    msg.payload = table[command];\n    node.status({fill:\"green\",shape:\"dot\",text:command});\n    return msg;\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"var table = {};\n\ntable[\"zone1-pwr-on\"] = \"\\x02\\x00\\x01\\x04\\x20\\x27\";\ntable[\"zone2-pwr-on\"] = \"\\x02\\x00\\x02\\x04\\x20\\x28\";\ntable[\"zone3-pwr-on\"] = \"\\x02\\x00\\x03\\x04\\x20\\x29\";\ntable[\"zone4-pwr-on\"] = \"\\x02\\x00\\x04\\x04\\x20\\x2A\";\ntable[\"zone5-pwr-on\"] = \"\\x02\\x00\\x05\\x04\\x20\\x2B\";\ntable[\"zone6-pwr-on\"] = \"\\x02\\x00\\x05\\x04\\x20\\x2C\";\ntable[\"party-pwr-on\"] = \"\\x02\\x00\\x01\\x04\\x38\\x3F\";\n\ntable[\"zone1-pwr-off\"] = \"\\x02\\x00\\x01\\x04\\x21\\x28\";\ntable[\"zone2-pwr-off\"] = \"\\x02\\x00\\x02\\x04\\x21\\x29\";\ntable[\"zone3-pwr-off\"] = \"\\x02\\x00\\x03\\x04\\x21\\x2A\";\ntable[\"zone4-pwr-off\"] = \"\\x02\\x00\\x04\\x04\\x21\\x2B\";\ntable[\"zone5-pwr-off\"] = \"\\x02\\x00\\x05\\x04\\x21\\x2C\";\ntable[\"zone6-pwr-off\"] = \"\\x02\\x00\\x06\\x04\\x21\\x2D\";\ntable[\"party-pwr-off\"] = \"\\x02\\x00\\x01\\x04\\x39\\x40\";\n\ntable[\"zone1-source-1\"] = \"\\x02\\x00\\x01\\x04\\x03\\x0A\";\ntable[\"zone2-source-1\"] = \"\\x02\\x00\\x02\\x04\\x03\\x0B\";\ntable[\"zone3-source-1\"] = \"\\x02\\x00\\x03\\x04\\x03\\x0C\";\ntable[\"zone4-source-1\"] = \"\\x02\\x00\\x04\\x04\\x03\\x0D\";\ntable[\"zone5-source-1\"] = \"\\x02\\x00\\x05\\x04\\x03\\x0E\";\ntable[\"zone6-source-1\"] = \"\\x02\\x00\\x06\\x04\\x03\\x0F\";\n\ntable[\"zone1-source-2\"] = \"\\x02\\x00\\x01\\x04\\x04\\x0B\";\ntable[\"zone2-source-2\"] = \"\\x02\\x00\\x02\\x04\\x04\\x0C\";\ntable[\"zone3-source-2\"] = \"\\x02\\x00\\x03\\x04\\x04\\x0D\";\ntable[\"zone4-source-2\"] = \"\\x02\\x00\\x04\\x04\\x04\\x0E\";\ntable[\"zone5-source-2\"] = \"\\x02\\x00\\x05\\x04\\x04\\x0F\";\ntable[\"zone6-source-2\"] = \"\\x02\\x00\\x06\\x04\\x04\\x10\";\n\ntable[\"zone1-source-3\"] = \"\\x02\\x00\\x01\\x04\\x05\\x0C\";\ntable[\"zone2-source-3\"] = \"\\x02\\x00\\x02\\x04\\x05\\x0D\";\ntable[\"zone3-source-3\"] = \"\\x02\\x00\\x03\\x04\\x05\\x0E\";\ntable[\"zone4-source-3\"] = \"\\x02\\x00\\x04\\x04\\x05\\x0F\";\ntable[\"zone5-source-3\"] = \"\\x02\\x00\\x05\\x04\\x05\\x10\";\ntable[\"zone6-source-3\"] = \"\\x02\\x00\\x06\\x04\\x05\\x11\";\n\ntable[\"zone1-source-4\"] = \"\\x02\\x00\\x01\\x04\\x06\\x0D\";\ntable[\"zone2-source-4\"] = \"\\x02\\x00\\x02\\x04\\x06\\x0E\";\ntable[\"zone3-source-4\"] = \"\\x02\\x00\\x03\\x04\\x06\\x0F\";\ntable[\"zone4-source-4\"] = \"\\x02\\x00\\x04\\x04\\x06\\x10\";\ntable[\"zone5-source-4\"] = \"\\x02\\x00\\x05\\x04\\x06\\x11\";\ntable[\"zone6-source-4\"] = \"\\x02\\x00\\x06\\x04\\x06\\x12\";\n\ntable[\"zone1-source-5\"] = \"\\x02\\x00\\x01\\x04\\x07\\x0E\";\ntable[\"zone2-source-5\"] = \"\\x02\\x00\\x02\\x04\\x07\\x0F\";\ntable[\"zone3-source-5\"] = \"\\x02\\x00\\x03\\x04\\x07\\x10\";\ntable[\"zone4-source-5\"] = \"\\x02\\x00\\x04\\x04\\x07\\x11\";\ntable[\"zone5-source-5\"] = \"\\x02\\x00\\x05\\x04\\x07\\x12\";\ntable[\"zone6-source-5\"] = \"\\x02\\x00\\x06\\x04\\x07\\x13\";\n\ntable[\"zone1-source-6\"] = \"\\x02\\x00\\x01\\x04\\x08\\x0F\";\ntable[\"zone2-source-6\"] = \"\\x02\\x00\\x02\\x04\\x08\\x10\";\ntable[\"zone3-source-6\"] = \"\\x02\\x00\\x03\\x04\\x08\\x11\";\ntable[\"zone4-source-6\"] = \"\\x02\\x00\\x04\\x04\\x08\\x12\";\ntable[\"zone5-source-6\"] = \"\\x02\\x00\\x05\\x04\\x08\\x13\";\ntable[\"zone6-source-6\"] = \"\\x02\\x00\\x06\\x04\\x08\\x14\";\n\ntable[\"zone1-mute-toggle\"] = \"\\x02\\x00\\x01\\x04\\x22\\x29\";\ntable[\"zone2-mute-toggle\"] = \"\\x02\\x00\\x02\\x04\\x22\\x2A\";\ntable[\"zone3-mute-toggle\"] = \"\\x02\\x00\\x03\\x04\\x22\\x2B\";\ntable[\"zone4-mute-toggle\"] = \"\\x02\\x00\\x04\\x04\\x22\\x2C\";\ntable[\"zone5-mute-toggle\"] = \"\\x02\\x00\\x05\\x04\\x22\\x2D\";\ntable[\"zone6-mute-toggle\"] = \"\\x02\\x00\\x06\\x04\\x22\\x2E\";\n\ntable[\"zone1-volume-up\"] = \"\\x02\\x00\\x01\\x04\\x09\\x10\";\ntable[\"zone2-volume-up\"] = \"\\x02\\x00\\x02\\x04\\x09\\x11\";\ntable[\"zone3-volume-up\"] = \"\\x02\\x00\\x03\\x04\\x09\\x12\";\ntable[\"zone4-volume-up\"] = \"\\x02\\x00\\x04\\x04\\x09\\x13\";\ntable[\"zone5-volume-up\"] = \"\\x02\\x00\\x05\\x04\\x09\\x14\";\ntable[\"zone6-volume-up\"] = \"\\x02\\x00\\x06\\x04\\x09\\x15\";\n\ntable[\"zone1-volume-down\"] = \"\\x02\\x00\\x01\\x04\\x0A\\x11\";\ntable[\"zone2-volume-down\"] = \"\\x02\\x00\\x02\\x04\\x0A\\x12\";\ntable[\"zone3-volume-down\"] = \"\\x02\\x00\\x03\\x04\\x0A\\x13\";\ntable[\"zone4-volume-down\"] = \"\\x02\\x00\\x04\\x04\\x0A\\x14\";\ntable[\"zone5-volume-down\"] = \"\\x02\\x00\\x05\\x04\\x0A\\x15\";\ntable[\"zone6-volume-down\"] = \"\\x02\\x00\\x06\\x04\\x0A\\x16\";\n\ntable[\"zone1-balance-left\"] = \"\\x02\\x00\\x01\\x04\\x2B\\x32\";\ntable[\"zone2-balance-left\"] = \"\\x02\\x00\\x02\\x04\\x2B\\x33\";\ntable[\"zone3-balance-left\"] = \"\\x02\\x00\\x03\\x04\\x2B\\x34\";\ntable[\"zone4-balance-left\"] = \"\\x02\\x00\\x04\\x04\\x2B\\x35\";\ntable[\"zone5-balance-left\"] = \"\\x02\\x00\\x05\\x04\\x2B\\x36\";\ntable[\"zone6-balance-left\"] = \"\\x02\\x00\\x06\\x04\\x2B\\x37\";\n\ntable[\"zone1-balance-right\"] = \"\\x02\\x00\\x01\\x04\\x2A\\x31\";\ntable[\"zone2-balance-right\"] = \"\\x02\\x00\\x02\\x04\\x2A\\x32\";\ntable[\"zone3-balance-right\"] = \"\\x02\\x00\\x03\\x04\\x2A\\x33\";\ntable[\"zone4-balance-right\"] = \"\\x02\\x00\\x04\\x04\\x2A\\x34\";\ntable[\"zone5-balance-right\"] = \"\\x02\\x00\\x05\\x04\\x2A\\x35\";\ntable[\"zone6-balance-right\"] = \"\\x02\\x00\\x06\\x04\\x2A\\x36\";\n\ntable[\"zone1-query\"] = \"\\x02\\x00\\x01\\x06\\x00\\x09\";\ntable[\"zone2-query\"] = \"\\x02\\x00\\x02\\x06\\x00\\x0A\";\ntable[\"zone3-query\"] = \"\\x02\\x00\\x03\\x06\\x00\\x0B\";\ntable[\"zone4-query\"] = \"\\x02\\x00\\x04\\x06\\x00\\x0C\";\ntable[\"zone5-query\"] = \"\\x02\\x00\\x05\\x06\\x00\\x0D\";\ntable[\"zone6-query\"] = \"\\x02\\x00\\x06\\x06\\x00\\x0E\";\n\nflow.set(\"commandMap\", table);","finalize":"","x":2400,"y":1500,"wires":[["4d10a231.9001ac"]]},{"id":"d32db85b.86ba28","type":"ui_template","z":"2af82e97.00cc42","group":"c8fd1b5a.3a4458","name":"Mute","order":2,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"mute_livingroom_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"mute_livingroom_state\", index)\n        }\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"mute_livingroom\").src = muteButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        }\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        })\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        })\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            scope.send({topic: 'mute', payload: 'zone2-mute-toggle'});\n        }\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"mute_livingroom\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":720,"wires":[["8653b9ce.064168"]]},{"id":"4d10a231.9001ac","type":"link out","z":"2af82e97.00cc42","name":"","links":["be99deda.d37f8"],"x":2595,"y":1560,"wires":[]},{"id":"8a190cb.a5b58f","type":"function","z":"2af82e97.00cc42","name":"HTD Demux Zone 3 Kitchen","func":"var zone = msg.payload.zone;\nvar status=\"\";\nvar msg3 = null;\n\nmsg1 = {};\nmsg1.payload = {};\n\nmsg2 = {};\nmsg2.payload = {};\n\nmsg4 = {};\nmsg4.payload = {};\n\nmsg5 = {};\nmsg5.payload = {};\n\nmsg1.topic=\"PWR \" + zone.outputStr;\nmsg1.payload=zone.output;\nstatus+=\"PWR=\"+msg1.payload\n\nmsg2.topic=\"src\";\nmsg2.payload=zone.src;\nstatus+=\" SRC=\"+msg2.payload\n\nif (zone.balance != null) {\n    msg3 = {};\n    msg3.payload = {};\n    msg3.topic=\"balance\";\n    msg3.payload=zone.balance;\n    status+=\" BAL=\"+msg3.payload\n}\n\nmsg4.topic=\"volume\";\nmsg4.payload=zone.volume;\nstatus+=\" VOL=\"+msg4.payload\n\nmsg5.topic=\"mute\";\nmsg5.payload=zone.mute;\nstatus+=\" MUTE=\"+msg5.payload\n\nnode.status({fill:\"green\",shape:\"dot\",text:status});\n\nvar partyVolumeStart = flow.get(\"partyVolumeStart\");\nvar partyVolumeZone = flow.get(\"partyVolumeZone\");\nvar partyVolume = flow.get(\"partyVolume\");\nvar msgParty = {};\n\nif (partyVolumeZone==3) {\n    if (partyVolumeStart) {\n        if (partyVolume != -1) {\n            if (zone.volume < partyVolume) {\n                msgParty.payload = \"zone3-volume-up\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"yellow\",shape:\"dot\",text:\"zone3-volume-up\"});\n            } else if (zone.volume > partyVolume) {\n                msgParty.payload = \"zone3-volume-down\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"yellow\",shape:\"dot\",text:\"zone3-volume-down\"});\n            } else {\n                flow.set(\"partyVolumeZone\", ++partyVolumeZone);\n                msgParty.payload = \"zone4-query\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"green\",shape:\"dot\",text:\"Party volume zone complete\"});\n            }\n            return;\n        }\n    }\n}\n\nreturn [msg1,msg2,msg3,msg4,msg5,null];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":1240,"y":1120,"wires":[["a7d82bf9.dfbe58"],["ec4ea086.8249a"],["fbc3f4d4.c9ac28"],["405f9e18.52019"],["dd2f5ed9.c01af"],["8653b9ce.064168"]]},{"id":"a7d82bf9.dfbe58","type":"ui_template","z":"2af82e97.00cc42","group":"a410b8ca.bdd108","name":"Power","order":1,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"pwr_kitchen_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"pwr_kitchen_state\", index)\n        };\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"pwr_kitchen\").src = pwrButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        };\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        });\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            scope.send({topic: 'power', payload: x==1?'zone3-pwr-on':'zone3-pwr-off'});\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"pwr_kitchen\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":1020,"wires":[["8653b9ce.064168"]]},{"id":"ec4ea086.8249a","type":"ui_template","z":"2af82e97.00cc42","group":"a410b8ca.bdd108","name":"Src","order":3,"width":2,"height":1,"format":"  <script>\n\n   (function(scope) {\n        \n       scope.retrieveState = function () {\n           var x = localStorage.getItem(\"kitchen-source\");\n           var radio = document.querySelector('input[name=\"kitchen-source\"][value=\"'+x+'\"]');\n           radio.checked  = true;\n        }\n        \n        scope.saveState = function () {\n           var x = document.querySelector('input[name=\"kitchen-source\"]:checked').value;\n           localStorage.setItem(\"kitchen-source\", x);\n        };\n        \n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$ngAfterViewChecked', function(){\n            scope.retrieveState();\n        });\n\n        \n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n               var x  = msg.payload;\n               var radio = document.querySelector('input[name=\"kitchen-source\"][value=\"'+x+'\"]');\n               radio.checked  = true;\n            }\n            scope.saveState();\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            scope.saveState();\n            var index = document.querySelector('input[name=\"kitchen-source\"]:checked').value;\n            scope.send({topic: 'source', payload: 'zone3-source-'+index});\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\" >\n        <label style=\"padding:2px;\">\n            <input checked id=\"roku\" type=\"radio\" name=\"kitchen-source\" value=\"1\" ng-click=\"doclick()\">\n            <img src=\"/roku.png\" width=\"30\" height=\"30\">\n        </label>\n        <label style=\"padding:2px;\">\n            <input id=\"alexa\" type=\"radio\" name=\"kitchen-source\" value=\"2\" ng-click=\"doclick()\">\n            <img src=\"/alexa.png\" width=\"30\" height=\"30\">\n        </label>\n  </div>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1730,"y":1060,"wires":[["8653b9ce.064168"]]},{"id":"405f9e18.52019","type":"ui_level","z":"2af82e97.00cc42","group":"a410b8ca.bdd108","order":4,"width":1,"height":4,"name":"Volume","label":"Volume","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"60","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1740,"y":1140,"wires":[]},{"id":"7e10c5a4.85498c","type":"ui_template","z":"2af82e97.00cc42","group":"a410b8ca.bdd108","name":"vol-up","order":6,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_kitchen_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_kitchen\").click();\n            }\n            scope.send({topic: 'volume', payload: 'zone3-volume-up'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"kitchen-vol-up\" src=\"/up.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":1300,"wires":[["8653b9ce.064168"]]},{"id":"8d8ce367.f9c2f","type":"ui_template","z":"2af82e97.00cc42","group":"a410b8ca.bdd108","name":"vol-dn","order":7,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_kitchen_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_kitchen\").click();\n            }\n            scope.send({topic: 'volume', payload: \"zone3-volume-down\"});\n        };\n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"kitchen-vol-down\" src=\"/down.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":1340,"wires":[["8653b9ce.064168"]]},{"id":"eb210231.8f993","type":"ui_template","z":"2af82e97.00cc42","group":"a410b8ca.bdd108","name":"balance-left","order":10,"width":1,"height":1,"format":"   <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_kitchen_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_kitchen\").click();\n            }\n            scope.send({topic: 'balance', payload: 'zone3-balance-left'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"kitchen-balance-left\" src=\"/left.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1750,"y":1220,"wires":[["8653b9ce.064168"]]},{"id":"7a800638.e127f8","type":"ui_template","z":"2af82e97.00cc42","group":"a410b8ca.bdd108","name":"balance-right","order":11,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_kitchen_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_kitchen\").click();\n            }\n          scope.send({topic: 'balance', payload: 'zone3-balance-right'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"kitchen-balance-right\" src=\"/right.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1750,"y":1260,"wires":[["8653b9ce.064168"]]},{"id":"fbc3f4d4.c9ac28","type":"ui_artlessgauge","z":"2af82e97.00cc42","group":"a410b8ca.bdd108","order":9,"width":2,"height":1,"name":"Balance","icon":"","label":"Balance","unit":"","layout":"linear","decimals":0,"differential":true,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","sectors":[{"val":-3,"col":"#ff9900","t":"min","dot":2},{"val":3,"col":"#ff9900","t":"max","dot":2}],"lineWidth":"5","bgcolorFromTheme":true,"diffCenter":"0","x":1740,"y":1100,"wires":[]},{"id":"dd2f5ed9.c01af","type":"ui_template","z":"2af82e97.00cc42","group":"a410b8ca.bdd108","name":"Mute","order":2,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"mute_kitchen_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"mute_kitchen_state\", index)\n        }\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"mute_kitchen\").src = muteButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        }\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        })\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        })\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            scope.send({topic: 'mute', payload: 'zone3-mute-toggle'});\n        }\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"mute_kitchen\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":1180,"wires":[["8653b9ce.064168"]]},{"id":"73848fdc.b4e22","type":"function","z":"2af82e97.00cc42","name":"HTD Demux Zone 4 Master","func":"var zone = msg.payload.zone;\nvar status=\"\";\nvar msg3 = null;\n\nmsg1 = {};\nmsg1.payload = {};\n\nmsg2 = {};\nmsg2.payload = {};\n\nmsg4 = {};\nmsg4.payload = {};\n\nmsg5 = {};\nmsg5.payload = {};\n\nmsg1.topic=\"PWR \" + zone.outputStr;\nmsg1.payload=zone.output;\nstatus+=\"PWR=\"+msg1.payload\n\nmsg2.topic=\"src\";\nmsg2.payload=zone.src;\nstatus+=\" SRC=\"+msg2.payload\n\nif (zone.balance != null) {\n    msg3 = {};\n    msg3.payload = {};\n    msg3.topic=\"balance\";\n    msg3.payload=zone.balance;\n    status+=\" BAL=\"+msg3.payload\n}\n\nmsg4.topic=\"volume\";\nmsg4.payload=zone.volume;\nstatus+=\" VOL=\"+msg4.payload\n\nmsg5.topic=\"mute\";\nmsg5.payload=zone.mute;\nstatus+=\" MUTE=\"+msg5.payload\n\nnode.status({fill:\"green\",shape:\"dot\",text:status});\n\nvar partyVolumeStart = flow.get(\"partyVolumeStart\");\nvar partyVolumeZone = flow.get(\"partyVolumeZone\");\nvar partyVolume = flow.get(\"partyVolume\");\nvar msgParty = {};\n\nif (partyVolumeZone==4) {\n    if (partyVolumeStart) {\n        if (partyVolume != -1) {\n            if (zone.volume < partyVolume) {\n                msgParty.payload = \"zone4-volume-up\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"yellow\",shape:\"dot\",text:\"zone4-volume-up\"});\n            } else if (zone.volume > partyVolume) {\n                msgParty.payload = \"zone4-volume-down\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"yellow\",shape:\"dot\",text:\"zone4-volume-down\"});\n            } else {\n                flow.set(\"partyVolumeZone\", ++partyVolumeZone);\n                msgParty.payload = \"zone5-query\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"green\",shape:\"dot\",text:\"Party volume zone complete\"});\n            }\n            return;\n        }\n    }\n}\n\nreturn [msg1,msg2,msg3,msg4,msg5,null];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":1240,"y":1720,"wires":[["f6ac467.550fbb8"],["7e290f7.11e7df"],["cdf852b9.aae79"],["e50e2fdb.27efe"],["6a387060.d5c43"],["8653b9ce.064168"]]},{"id":"f6ac467.550fbb8","type":"ui_template","z":"2af82e97.00cc42","group":"dd44e163.75a47","name":"Power","order":1,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"pwr_master_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"pwr_master_state\", index)\n        };\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"pwr_master\").src = pwrButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        };\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        });\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            scope.send({topic: 'power', payload: x==1?'zone4-pwr-on':'zone4-pwr-off'});\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"pwr_master\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":1620,"wires":[["8653b9ce.064168"]]},{"id":"7e290f7.11e7df","type":"ui_template","z":"2af82e97.00cc42","group":"dd44e163.75a47","name":"Src","order":3,"width":2,"height":1,"format":"  <script>\n\n   (function(scope) {\n        \n       scope.retrieveState = function () {\n           var x = localStorage.getItem(\"master-source\");\n           var radio = document.querySelector('input[name=\"master-source\"][value=\"'+x+'\"]');\n           radio.checked  = true;\n        }\n        \n        scope.saveState = function () {\n           var x = document.querySelector('input[name=\"master-source\"]:checked').value;\n           localStorage.setItem(\"master-source\", x);\n        };\n        \n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$ngAfterViewChecked', function(){\n            scope.retrieveState();\n        });\n\n        \n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n               var x  = msg.payload;\n               var radio = document.querySelector('input[name=\"master-source\"][value=\"'+x+'\"]');\n               radio.checked  = true;\n            }\n            scope.saveState();\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            scope.saveState();\n            var index = document.querySelector('input[name=\"master-source\"]:checked').value;\n            scope.send({topic: 'source', payload: 'zone4-source-'+index});\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\" >\n        <label style=\"padding:2px;\">\n            <input checked id=\"roku\" type=\"radio\" name=\"master-source\" value=\"1\" ng-click=\"doclick()\">\n            <img src=\"/roku.png\" width=\"30\" height=\"30\">\n        </label>\n        <label style=\"padding:2px;\">\n            <input id=\"alexa\" type=\"radio\" name=\"master-source\" value=\"2\" ng-click=\"doclick()\">\n            <img src=\"/alexa.png\" width=\"30\" height=\"30\">\n        </label>\n  </div>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1730,"y":1660,"wires":[["8653b9ce.064168"]]},{"id":"e50e2fdb.27efe","type":"ui_level","z":"2af82e97.00cc42","group":"dd44e163.75a47","order":4,"width":1,"height":4,"name":"Volume","label":"Volume","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"60","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1740,"y":1740,"wires":[]},{"id":"737f0923.b40f78","type":"ui_template","z":"2af82e97.00cc42","group":"dd44e163.75a47","name":"vol-up","order":6,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_master_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_master\").click();\n            }\n            scope.send({topic: 'volume', payload: 'zone4-volume-up'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"master-vol-up\" src=\"/up.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":1900,"wires":[["8653b9ce.064168"]]},{"id":"45f243a7.c06aac","type":"ui_template","z":"2af82e97.00cc42","group":"dd44e163.75a47","name":"vol-dn","order":7,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_master_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_master\").click();\n            }\n            scope.send({topic: 'volume', payload: \"zone4-volume-down\"});\n        };\n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"master-vol-down\" src=\"/down.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":1940,"wires":[["8653b9ce.064168"]]},{"id":"69b8461.270fdb8","type":"ui_template","z":"2af82e97.00cc42","group":"dd44e163.75a47","name":"balance-left","order":10,"width":1,"height":1,"format":"   <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_master_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_master\").click();\n            }\n            scope.send({topic: 'balance', payload: 'zone4-balance-left'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"master-balance-left\" src=\"/left.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1750,"y":1820,"wires":[["8653b9ce.064168"]]},{"id":"97dff1a9.d44fc","type":"ui_template","z":"2af82e97.00cc42","group":"dd44e163.75a47","name":"balance-right","order":11,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_master_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_master\").click();\n            }\n          scope.send({topic: 'balance', payload: 'zone4-balance-right'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"master-balance-right\" src=\"/right.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1750,"y":1860,"wires":[["8653b9ce.064168"]]},{"id":"cdf852b9.aae79","type":"ui_artlessgauge","z":"2af82e97.00cc42","group":"dd44e163.75a47","order":9,"width":2,"height":1,"name":"Balance","icon":"","label":"Balance","unit":"","layout":"linear","decimals":0,"differential":true,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","sectors":[{"val":-3,"col":"#ff9900","t":"min","dot":2},{"val":3,"col":"#ff9900","t":"max","dot":2}],"lineWidth":"5","bgcolorFromTheme":true,"diffCenter":"0","x":1740,"y":1700,"wires":[]},{"id":"6a387060.d5c43","type":"ui_template","z":"2af82e97.00cc42","group":"dd44e163.75a47","name":"Mute","order":2,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"mute_master_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"mute_master_state\", index)\n        }\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"mute_master\").src = muteButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        }\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        })\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        })\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            scope.send({topic: 'mute', payload: 'zone4-mute-toggle'});\n        }\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"mute_master\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":1780,"wires":[["8653b9ce.064168"]]},{"id":"bb7ee857.330f78","type":"function","z":"2af82e97.00cc42","name":"HTD Demux Zone 5 Master Bath","func":"var zone = msg.payload.zone;\nvar status=\"\";\nvar msg3 = null;\n\nmsg1 = {};\nmsg1.payload = {};\n\nmsg2 = {};\nmsg2.payload = {};\n\nmsg4 = {};\nmsg4.payload = {};\n\nmsg5 = {};\nmsg5.payload = {};\n\nmsg1.topic=\"PWR \" + zone.outputStr;\nmsg1.payload=zone.output;\nstatus+=\"PWR=\"+msg1.payload\n\nmsg2.topic=\"src\";\nmsg2.payload=zone.src;\nstatus+=\" SRC=\"+msg2.payload\n\nif (zone.balance != null) {\n    msg3 = {};\n    msg3.payload = {};\n    msg3.topic=\"balance\";\n    msg3.payload=zone.balance;\n    status+=\" BAL=\"+msg3.payload\n}\n\nmsg4.topic=\"volume\";\nmsg4.payload=zone.volume;\nstatus+=\" VOL=\"+msg4.payload\n\nmsg5.topic=\"mute\";\nmsg5.payload=zone.mute;\nstatus+=\" MUTE=\"+msg5.payload\n\nnode.status({fill:\"green\",shape:\"dot\",text:status});\n\nvar partyVolumeStart = flow.get(\"partyVolumeStart\");\nvar partyVolumeZone = flow.get(\"partyVolumeZone\");\nvar partyVolume = flow.get(\"partyVolume\");\nvar msgParty = {};\n\nif (partyVolumeZone==5) {\n    if (partyVolumeStart) {\n        if (partyVolume != -1) {\n            if (zone.volume < partyVolume) {\n                msgParty.payload = \"zone5-volume-up\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"yellow\",shape:\"dot\",text:\"zone5-volume-up\"});\n            } else if (zone.volume > partyVolume) {\n                msgParty.payload = \"zone5-volume-down\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"yellow\",shape:\"dot\",text:\"zone5-volume-down\"});\n            } else {\n                flow.set(\"partyVolumeZone\", ++partyVolumeZone);\n                msgParty.payload = \"zone6-query\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"green\",shape:\"dot\",text:\"Party volume zone complete\"});\n            }\n            return;\n        }\n    }\n}\n\nreturn [msg1,msg2,msg3,msg4,msg5,null];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":1250,"y":2180,"wires":[["c1e057f7.d28a38"],["9ee24dc9.5abbd"],["d001cb4b.900758"],["5b472009.2ee4"],["f496e84a.4409b8"],["8653b9ce.064168"]]},{"id":"c1e057f7.d28a38","type":"ui_template","z":"2af82e97.00cc42","group":"5956f040.abd3f","name":"Power","order":1,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"pwr_masterbath_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"pwr_masterbath_state\", index)\n        };\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"pwr_masterbath\").src = pwrButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        };\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        });\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            scope.send({topic: 'power', payload: x==1?'zone5-pwr-on':'zone5-pwr-off'});\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"pwr_masterbath\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":2080,"wires":[["8653b9ce.064168"]]},{"id":"9ee24dc9.5abbd","type":"ui_template","z":"2af82e97.00cc42","group":"5956f040.abd3f","name":"Src","order":3,"width":2,"height":1,"format":"  <script>\n\n   (function(scope) {\n        \n       scope.retrieveState = function () {\n           var x = localStorage.getItem(\"masterbath-source\");\n           var radio = document.querySelector('input[name=\"masterbath-source\"][value=\"'+x+'\"]');\n           radio.checked  = true;\n        }\n        \n        scope.saveState = function () {\n           var x = document.querySelector('input[name=\"masterbath-source\"]:checked').value;\n           localStorage.setItem(\"masterbath-source\", x);\n        };\n        \n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$ngAfterViewChecked', function(){\n            scope.retrieveState();\n        });\n\n        \n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n               var x  = msg.payload;\n               var radio = document.querySelector('input[name=\"masterbath-source\"][value=\"'+x+'\"]');\n               radio.checked  = true;\n            }\n            scope.saveState();\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            scope.saveState();\n            var index = document.querySelector('input[name=\"masterbath-source\"]:checked').value;\n            scope.send({topic: 'source', payload: 'zone5-source-'+index});\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\" >\n        <label style=\"padding:2px;\">\n            <input checked id=\"roku\" type=\"radio\" name=\"masterbath-source\" value=\"1\" ng-click=\"doclick()\">\n            <img src=\"/roku.png\" width=\"30\" height=\"30\">\n        </label>\n        <label style=\"padding:2px;\">\n            <input id=\"alexa\" type=\"radio\" name=\"masterbath-source\" value=\"2\" ng-click=\"doclick()\">\n            <img src=\"/alexa.png\" width=\"30\" height=\"30\">\n        </label>\n  </div>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1730,"y":2120,"wires":[["8653b9ce.064168"]]},{"id":"5b472009.2ee4","type":"ui_level","z":"2af82e97.00cc42","group":"5956f040.abd3f","order":4,"width":1,"height":4,"name":"Volume","label":"Volume","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"60","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1740,"y":2200,"wires":[]},{"id":"807f708c.347fa","type":"ui_template","z":"2af82e97.00cc42","group":"5956f040.abd3f","name":"vol-up","order":6,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_masterbath_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_masterbath\").click();\n            }\n            scope.send({topic: 'volume', payload: 'zone5-volume-up'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"masterbath-vol-up\" src=\"/up.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":2360,"wires":[["8653b9ce.064168"]]},{"id":"a48436ff.d39348","type":"ui_template","z":"2af82e97.00cc42","group":"5956f040.abd3f","name":"vol-dn","order":7,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_masterbath_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_masterbath\").click();\n            }\n            scope.send({topic: 'volume', payload: \"zone5-volume-down\"});\n        };\n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"masterbath-vol-down\" src=\"/down.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":2400,"wires":[["8653b9ce.064168"]]},{"id":"743aeea2.0f3a1","type":"ui_template","z":"2af82e97.00cc42","group":"5956f040.abd3f","name":"balance-left","order":10,"width":1,"height":1,"format":"   <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_masterbath_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_masterbath\").click();\n            }\n            scope.send({topic: 'balance', payload: 'zone5-balance-left'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"masterbath-balance-left\" src=\"/left.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1750,"y":2280,"wires":[["8653b9ce.064168"]]},{"id":"18b1ba3.69cc546","type":"ui_template","z":"2af82e97.00cc42","group":"5956f040.abd3f","name":"balance-right","order":11,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_masterbath_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_masterbath\").click();\n            }\n          scope.send({topic: 'balance', payload: 'zone5-balance-right'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"masterbath-balance-right\" src=\"/right.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1750,"y":2320,"wires":[["8653b9ce.064168"]]},{"id":"d001cb4b.900758","type":"ui_artlessgauge","z":"2af82e97.00cc42","group":"5956f040.abd3f","order":9,"width":2,"height":1,"name":"Balance","icon":"","label":"Balance","unit":"","layout":"linear","decimals":0,"differential":true,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","sectors":[{"val":-3,"col":"#ff9900","t":"min","dot":2},{"val":3,"col":"#ff9900","t":"max","dot":2}],"lineWidth":"5","bgcolorFromTheme":true,"diffCenter":"0","x":1740,"y":2160,"wires":[]},{"id":"f496e84a.4409b8","type":"ui_template","z":"2af82e97.00cc42","group":"5956f040.abd3f","name":"Mute","order":2,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"mute_masterbath_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"mute_masterbath_state\", index)\n        }\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"mute_masterbath\").src = muteButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        }\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        })\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        })\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            scope.send({topic: 'mute', payload: 'zone5-mute-toggle'});\n        }\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"mute_masterbath\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":2240,"wires":[["8653b9ce.064168"]]},{"id":"41d36e5c.104c3","type":"function","z":"2af82e97.00cc42","name":"HTD Demux Zone 6 Patio","func":"var zone = msg.payload.zone;\nvar status=\"\";\nvar msg3 = null;\n\nmsg1 = {};\nmsg1.payload = {};\n\nmsg2 = {};\nmsg2.payload = {};\n\nmsg4 = {};\nmsg4.payload = {};\n\nmsg5 = {};\nmsg5.payload = {};\n\nmsg1.topic=\"PWR \" + zone.outputStr;\nmsg1.payload=zone.output;\nstatus+=\"PWR=\"+msg1.payload\n\nmsg2.topic=\"src\";\nmsg2.payload=zone.src;\nstatus+=\" SRC=\"+msg2.payload\n\nif (zone.balance != null) {\n    msg3 = {};\n    msg3.payload = {};\n    msg3.topic=\"balance\";\n    msg3.payload=zone.balance;\n    status+=\" BAL=\"+msg3.payload\n}\n\nmsg4.topic=\"volume\";\nmsg4.payload=zone.volume;\nstatus+=\" VOL=\"+msg4.payload\n\nmsg5.topic=\"mute\";\nmsg5.payload=zone.mute;\nstatus+=\" MUTE=\"+msg5.payload\n\nnode.status({fill:\"green\",shape:\"dot\",text:status});\n\nvar partyVolumeStart = flow.get(\"partyVolumeStart\");\nvar partyVolumeZone = flow.get(\"partyVolumeZone\");\nvar partyVolume = flow.get(\"partyVolume\");\nvar msgParty = {};\n\nif (partyVolumeZone==6) {\n    if (partyVolumeStart) {\n        if (partyVolume != -1) {\n            if (zone.volume < partyVolume) {\n                msgParty.payload = \"zone6-volume-up\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"yellow\",shape:\"dot\",text:\"zone6-volume-up\"});\n            } else if (zone.volume > partyVolume) {\n                msgParty.payload = \"zone6-volume-down\";\n                node.send([null,null,null,null,null,msgParty]);\n                node.status({fill:\"yellow\",shape:\"dot\",text:\"zone6-volume-down\"});\n            } else {\n                node.status({fill:\"green\",shape:\"dot\",text:\"Party volume complete\"});\n                msgParty.payload = \"reset\";\n                node.send([null,null,null,null,null,msgParty]);\n            }\n            return;\n        }\n    }\n}\n\nreturn [msg1,msg2,msg3,msg4,msg5,null];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":1230,"y":2640,"wires":[["83bfdd53.e4eef"],["910936a7.3ac038"],["1c6feaa2.958ea5"],["876f552c.2bffe8"],["8df5ea7a.42cc08"],["8653b9ce.064168","9ad0b8f3.864348"]]},{"id":"83bfdd53.e4eef","type":"ui_template","z":"2af82e97.00cc42","group":"772e63e7.01334c","name":"Power","order":1,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"pwr_patio_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"pwr_patio_state\", index)\n        };\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"pwr_patio\").src = pwrButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        };\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        });\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            scope.send({topic: 'power', payload: x==1?'zone6-pwr-on':'zone6-pwr-off'});\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"pwr_patio\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":2540,"wires":[["8653b9ce.064168"]]},{"id":"910936a7.3ac038","type":"ui_template","z":"2af82e97.00cc42","group":"772e63e7.01334c","name":"Src","order":3,"width":2,"height":1,"format":"  <script>\n\n   (function(scope) {\n        \n       scope.retrieveState = function () {\n           var x = localStorage.getItem(\"patio-source\");\n           var radio = document.querySelector('input[name=\"patio-source\"][value=\"'+x+'\"]');\n           radio.checked  = true;\n        }\n        \n        scope.saveState = function () {\n           var x = document.querySelector('input[name=\"patio-source\"]:checked').value;\n           localStorage.setItem(\"patio-source\", x);\n        };\n        \n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$ngAfterViewChecked', function(){\n            scope.retrieveState();\n        });\n\n        \n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n               var x  = msg.payload;\n               var radio = document.querySelector('input[name=\"patio-source\"][value=\"'+x+'\"]');\n               radio.checked  = true;\n            }\n            scope.saveState();\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            scope.saveState();\n            var index = document.querySelector('input[name=\"patio-source\"]:checked').value;\n            scope.send({topic: 'source', payload: 'zone6-source-'+index});\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\" >\n        <label style=\"padding:2px;\">\n            <input checked id=\"roku\" type=\"radio\" name=\"patio-source\" value=\"1\" ng-click=\"doclick()\">\n            <img src=\"/roku.png\" width=\"30\" height=\"30\">\n        </label>\n        <label style=\"padding:2px;\">\n            <input id=\"alexa\" type=\"radio\" name=\"patio-source\" value=\"2\" ng-click=\"doclick()\">\n            <img src=\"/alexa.png\" width=\"30\" height=\"30\">\n        </label>\n  </div>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1730,"y":2580,"wires":[["8653b9ce.064168"]]},{"id":"876f552c.2bffe8","type":"ui_level","z":"2af82e97.00cc42","group":"772e63e7.01334c","order":4,"width":1,"height":4,"name":"Volume","label":"Volume","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"60","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1740,"y":2660,"wires":[]},{"id":"755b36c7.056178","type":"ui_template","z":"2af82e97.00cc42","group":"772e63e7.01334c","name":"vol-up","order":6,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_patio_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_patio\").click();\n            }\n            scope.send({topic: 'volume', payload: 'zone6-volume-up'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"patio-vol-up\" src=\"/up.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":2820,"wires":[["8653b9ce.064168"]]},{"id":"4530af6e.c43a5","type":"ui_template","z":"2af82e97.00cc42","group":"772e63e7.01334c","name":"vol-dn","order":7,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_patio_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_patio\").click();\n            }\n            scope.send({topic: 'volume', payload: \"zone6-volume-down\"});\n        };\n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"patio-vol-down\" src=\"/down.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":2860,"wires":[["8653b9ce.064168"]]},{"id":"71a89c84.149174","type":"ui_template","z":"2af82e97.00cc42","group":"772e63e7.01334c","name":"balance-left","order":10,"width":1,"height":1,"format":"   <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_patio_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_patio\").click();\n            }\n            scope.send({topic: 'balance', payload: 'zone6-balance-left'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"patio-balance-left\" src=\"/left.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1750,"y":2740,"wires":[["8653b9ce.064168"]]},{"id":"ad7238a9.429348","type":"ui_template","z":"2af82e97.00cc42","group":"772e63e7.01334c","name":"balance-right","order":11,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            var on = localStorage.getItem(\"pwr_patio_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_patio\").click();\n            }\n          scope.send({topic: 'balance', payload: 'zone6-balance-right'});\n        };\n        \n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"patio-balance-right\" src=\"/right.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1750,"y":2780,"wires":[["8653b9ce.064168"]]},{"id":"1c6feaa2.958ea5","type":"ui_artlessgauge","z":"2af82e97.00cc42","group":"772e63e7.01334c","order":9,"width":2,"height":1,"name":"Balance","icon":"","label":"Balance","unit":"","layout":"linear","decimals":0,"differential":true,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","sectors":[{"val":-3,"col":"#ff9900","t":"min","dot":2},{"val":3,"col":"#ff9900","t":"max","dot":2}],"lineWidth":"5","bgcolorFromTheme":true,"diffCenter":"0","x":1740,"y":2620,"wires":[]},{"id":"8df5ea7a.42cc08","type":"ui_template","z":"2af82e97.00cc42","group":"772e63e7.01334c","name":"Mute","order":2,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"mute_patio_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"mute_patio_state\", index)\n        }\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"mute_patio\").src = muteButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        }\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        })\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        })\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            scope.send({topic: 'mute', payload: 'zone6-mute-toggle'});\n        }\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"mute_patio\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":2700,"wires":[["8653b9ce.064168"]]},{"id":"df98e8ac.32e518","type":"ui_template","z":"2af82e97.00cc42","group":"b96e41e0.6d50a","name":"Party Power","order":1,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"pwr_party_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"pwr_party_state\", index)\n        };\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"pwr_party\").src = pwrButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        };\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        });\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            scope.send({topic: 'power', payload: x==1?'party-pwr-on':'party-pwr-off'});\n            \n            if (x == 0) {\n                var mute = localStorage.getItem(\"mute_party_state\");\n                if (mute == 1) {\n                    document.getElementById(\"mute_party\").click();\n                }\n            }\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"pwr_party\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1710,"y":2980,"wires":[["8653b9ce.064168"]]},{"id":"fd64867c.90d698","type":"function","z":"2af82e97.00cc42","name":"Party Mute","func":"const sleep = (waitTimeInMs) => new Promise(resolve => setTimeout(resolve, waitTimeInMs));\nconst mute = [\n    \"zone1-mute-toggle\",\n    \"zone2-mute-toggle\",\n    \"zone3-mute-toggle\",\n    \"zone4-mute-toggle\",\n    \"zone5-mute-toggle\",\n    \"zone6-mute-toggle\",\n    ];\n\nvar msgLed = {};\nmsgLed.payload=\"led-on\";\nnode.send([null, msgLed]);\n\nvar z;\nfor (z=0; z<mute.length; z++) {\n   msg.payload=mute[z];\n   node.send([msg, null]);\n   node.status({fill:\"green\",shape:\"dot\",text:mute[z]});\n   await sleep(700); \n}\n\nmsgLed.payload=\"led-off\";\nnode.send([null, msgLed]);\n\nreturn;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1930,"y":3040,"wires":[["8653b9ce.064168"],["fed71f6c.0f1ff"]]},{"id":"b9f0870c.4e48d8","type":"ui_template","z":"2af82e97.00cc42","group":"b96e41e0.6d50a","name":"Party Mute","order":2,"width":1,"height":1,"format":"  <script>\n\n  (function(scope) {\n        \n        scope.retrieveState = function () {\n            var  x = localStorage.getItem(\"mute_party_state\");\n            if (x === null) {\n                x = 0;\n            }\n            return x;\n        }\n        \n        scope.saveState = function (index) {\n            localStorage.setItem(\"mute_party_state\", index)\n        }\n        \n        scope.isValid = function(index)  {\n            return index >= 0 && index <= 1;\n        }\n        \n        scope.updateButton = function(index) {\n            return document.getElementById(\"mute_party\").src = muteButton[index];\n        }\n        \n        //\n        // this actually sets the state.\n        // the state is stored in  local storage so that if the user browses away\n        // and comes back the state is preserved. It will get over written by the\n        // msg from  homeseer, but if homeseer is  not responding, then this allows\n        // the button to still look like a toggle for debugging purposes\n        //\n        // button images  are defined in  the ui-temnplate node in the global tab\n        // like this:\n        //      var pwrButton = new Array(\"/red-button.png\", \"/green-button.png\");\n        //\n        scope.setstate = function (index) {\n            if (scope.isValid(index)) {\n                scope.updateButton(index);\n                scope.saveState(index);\n            }\n        }\n\n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$viewContentLoaded', function(){\n            scope.updateButton(scope.retrieveState());\n        })\n\n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n                scope.setstate(msg.payload);\n            }\n        })\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            var x = scope.retrieveState()==0?1:0;\n            scope.setstate(x);\n            \n            if (x == 1) {\n                var on = localStorage.getItem(\"pwr_party_state\");\n                if (on != 1) {\n                    document.getElementById(\"pwr_party\").click();\n                }\n            }\n\n            scope.send({topic: 'mute', payload: 'party-mute-toggle'});\n        }\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"mute_party\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1710,"y":3040,"wires":[["fd64867c.90d698"]]},{"id":"ff7414e8.d9e088","type":"ui_template","z":"2af82e97.00cc42","group":"b96e41e0.6d50a","name":"Party Src","order":3,"width":2,"height":1,"format":"  <script>\n\n   (function(scope) {\n        \n       scope.retrieveState = function () {\n           var x = localStorage.getItem(\"party-source\");\n           var radio = document.querySelector('input[name=\"party-source\"][value=\"'+x+'\"]');\n           radio.checked  = true;\n        }\n        \n        scope.saveState = function () {\n           var x = document.querySelector('input[name=\"party-source\"]:checked').value;\n           localStorage.setItem(\"party-source\", x);\n        };\n        \n        //\n        // initial when created default image.  A status should come along\n        // later to update the state.\n        //\n        scope.$watch('$ngAfterViewChecked', function(){\n            scope.retrieveState();\n        });\n\n        \n        //\n        // watch for a msg coming in that updates the state\n        // using payload.value\n        // this just so happens to be the payload structure from the homeseer\n        // node.   No change node is needed\n        //\n        scope.$watch('msg', function (msg) {\n            if (msg) {\n               var x  = msg.payload;\n               var radio = document.querySelector('input[name=\"party-source\"][value=\"'+x+'\"]');\n               radio.checked  = true;\n            }\n            scope.saveState();\n        });\n\n        //\n        // when the user clicks the widget, toggle the state and draw new image\n        // then send status message out in a homeseer friendly structure\n        // the only thing that will be needed to send this back into homeseer\n        // is add a control topic\n        //\n        scope.doclick = function() {\n            scope.saveState();\n            \n            var on = localStorage.getItem(\"pwr_party_state\");\n            if (on != 1) {\n                document.getElementById(\"pwr_party\").click();\n            }\n\n            var index = document.querySelector('input[name=\"party-source\"]:checked').value;\n            scope.send({topic: 'source', payload: ''+index});\n        };\n\n    })(scope);\n\n  </script>\n  \n  <div class=\"center2\" >\n        <label style=\"padding:2px;\">\n            <input checked id=\"roku\" type=\"radio\" name=\"party-source\" value=\"1\" ng-click=\"doclick()\">\n            <img src=\"/roku.png\" width=\"30\" height=\"30\">\n        </label>\n        <label style=\"padding:2px;\">\n            <input id=\"alexa\" type=\"radio\" name=\"party-source\" value=\"2\" ng-click=\"doclick()\">\n            <img src=\"/alexa.png\" width=\"30\" height=\"30\">\n        </label>\n  </div>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1720,"y":3100,"wires":[["731a48a8.cd7788"]]},{"id":"731a48a8.cd7788","type":"function","z":"2af82e97.00cc42","name":"Party Src","func":"const sleep = (waitTimeInMs) => new Promise(resolve => setTimeout(resolve, waitTimeInMs));\nvar src = msg.payload;\nconst srcCommand = [\n    \"zone1-source-\"+src,\n    \"zone2-source-\"+src,\n    \"zone3-source-\"+src,\n    \"zone4-source-\"+src,\n    \"zone5-source-\"+src,\n    \"zone6-source-\"+src,\n    ];\n\nmsg.payload=\"led-on\";\nnode.send([null, msg]);\n\nvar z;\nfor (z=0; z<srcCommand.length; z++) {\n   msg.payload=srcCommand[z];\n   node.send([msg, null]);\n   node.status({fill:\"green\",shape:\"dot\",text:srcCommand[z]});\n   await sleep(700); \n}\n\nmsg.payload=\"led-off\";\nnode.send([null, msg]);\n\nreturn;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1940,"y":3100,"wires":[["8653b9ce.064168"],["fed71f6c.0f1ff"]]},{"id":"f40161b7.97218","type":"ui_slider","z":"2af82e97.00cc42","name":"Party Volume","label":"Volume","tooltip":"","group":"b96e41e0.6d50a","order":4,"width":8,"height":1,"passthru":false,"outs":"all","topic":"","min":0,"max":"60","step":1,"x":1370,"y":3220,"wires":[["2e3ed9b8.c17646"]]},{"id":"9ad0b8f3.864348","type":"function","z":"2af82e97.00cc42","name":"Party Process","func":"const sleep = (waitTimeInMs) => new Promise(resolve => setTimeout(resolve, waitTimeInMs));\nif (msg.payload == \"reset\") {\n    flow.set(\"partyVolumeStart\", false);\n    flow.set(\"partyVolumeZone\", -1);\n    flow.set(\"partyVolume\", -1);\n    node.status({fill:\"green\",shape:\"dot\",text:\"Party volume reset\"});\n    msg.payload = \"led-off\";\n    node.send([null, msg]);\n    return;\n}\n\nvar partyVolumeStart = flow.get(\"partyVolumeStart\");\nvar partyVolumeZone = flow.get(\"partyVolumeZone\");\nvar partyVolume = flow.get(\"partyVolume\");\n\nif (!partyVolumeStart) {\n    flow.set(\"partyVolumeStart\", true);\n    flow.set(\"partyVolumeZone\", 1);\n    flow.set(\"partyVolume\", msg.payload);\n\n    msg.payload = \"led-on\";\n    node.send([null, msg]);\n\n    await sleep(700); \n   \n    msg.payload = \"zone1-query\";\n    node.send([msg, null]);\n\n    node.status({fill:\"green\",shape:\"dot\",text:\"Party volume started\"});\n    return;\n}\n\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1920,"y":3220,"wires":[["8653b9ce.064168"],["fed71f6c.0f1ff"]]},{"id":"4166bed.e61d54","type":"inject","z":"2af82e97.00cc42","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"reset","payloadType":"str","x":1570,"y":3280,"wires":[["727e68e.243b098"]]},{"id":"77efd559.76a89c","type":"inject","z":"2af82e97.00cc42","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"led-off","payloadType":"str","x":1950,"y":3160,"wires":[["fed71f6c.0f1ff"]]},{"id":"727e68e.243b098","type":"ui_template","z":"2af82e97.00cc42","group":"b96e41e0.6d50a","name":"Cancel","order":5,"width":1,"height":1,"format":"  <script>\n  (function(scope) {\n       scope.doclick = function() {\n            scope.send({topic: 'party', payload: \"reset\"});\n        };\n    })(scope);\n  </script>\n  \n  <div class=\"center2\">\n    <img id=\"party-cancel\" src=\"/cancel.png\" width=\"40\" height=\"40\" alt='No Image' ng-click=\"doclick()\" />\n  </div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1730,"y":3280,"wires":[["9ad0b8f3.864348"]]},{"id":"fed71f6c.0f1ff","type":"ui_led","z":"2af82e97.00cc42","group":"b96e41e0.6d50a","order":6,"width":2,"height":1,"label":"Busy","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"yellow","value":"led-on","valueType":"str"},{"color":"gray","value":"led-off","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Busy","x":2310,"y":3120,"wires":[]},{"id":"2e3ed9b8.c17646","type":"trigger","z":"2af82e97.00cc42","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"2","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1560,"y":3220,"wires":[["9ad0b8f3.864348"]]},{"id":"5f91cf06.70e5c","type":"ui_group","name":"Office","tab":"4933542c.07ce3c","order":1,"disp":true,"width":2,"collapse":false},{"id":"c8fd1b5a.3a4458","type":"ui_group","name":"Living Room","tab":"4933542c.07ce3c","order":2,"disp":true,"width":2,"collapse":false},{"id":"a410b8ca.bdd108","type":"ui_group","name":"Kitchen","tab":"4933542c.07ce3c","order":3,"disp":true,"width":2,"collapse":false},{"id":"dd44e163.75a47","type":"ui_group","name":"Master","tab":"4933542c.07ce3c","order":4,"disp":true,"width":2,"collapse":false},{"id":"5956f040.abd3f","type":"ui_group","name":"Master Bath","tab":"4933542c.07ce3c","order":5,"disp":true,"width":2,"collapse":false},{"id":"772e63e7.01334c","type":"ui_group","name":"Patio","tab":"4933542c.07ce3c","order":6,"disp":true,"width":2,"collapse":false},{"id":"b96e41e0.6d50a","type":"ui_group","name":"Party","tab":"4933542c.07ce3c","order":7,"disp":true,"width":15,"collapse":false},{"id":"4933542c.07ce3c","type":"ui_tab","name":"HTD","icon":"dashboard","order":6,"disabled":false,"hidden":false}]